nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > h1{
    color: blueviolet;
    font-size: 40px ;
}

nav  ul{
    display: flex;
    list-style: none;
}

nav ul > li{
    padding: 3px;
    margin: 0 10px;
}

nav ul > li> a{
    color: blueviolet;
    text-decoration: none;
}


nav > .nav-search{
    display: flex;
    flex: 0.5;
}

nav input{
    flex: 1;
    color: blueviolet;
    border: 1px solid blueviolet;
    border-right: 0px;
    height: 35px;
}

nav > .nav-search button{
    
    color: blueviolet;
    border: 1px solid blueviolet;
    border-left: 0px;
    height: 35px;
    padding: 0 20px;
}


h1 a {
    color: blueviolet;
    text-decoration: none;
}