nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

nav > h1{
    color: blueviolet;
    font-size: 40px ;
}

nav  ul{
    display: flex;
    list-style: none;
}

nav ul > li{
    padding: 3px;
    margin: 0 10px;
}

nav ul > li> a{
    color: blueviolet;
    text-decoration: none;
}


nav > .nav-search{
    display: flex;
    width: 60vw;
}

nav input{
    /* flex: 1; */
    color: blueviolet;
    border: 1px solid blueviolet;
    border-right: 0px;
    height: 35px;
    width: 90%;
}

nav > .nav-search button{
    
    color: blueviolet;
    border: 1px solid blueviolet;
    border-left: 0px;
    height: 35px;
    width: 10%;
    padding: 0 20px;
}


h1 a {
    color: blueviolet;
    text-decoration: none;
}



.suggested-result{
    position: absolute;
    display: list-item !important;
    top: 40px;
    width: 60vw;
    z-index: 100;
    border: 1px solid black;
}
.suggested-result ul{
    padding: 0;
    margin: 0;
}
.suggested-result li{
    border: 1px solid #fff;
    background-color: black;
    color: white;
    list-style: none;
    left: 0;

}