<nav class="nav">
    <h1> <a routerLink="/">Ecom</a> </h1>
    <div *ngIf="menuType == 'default'" class="nav-search">
        <div style='width: 100%;'>
            <input type="search" (keyup)="searchProduct($event)" (blur)="hideSearch()" placeholder="search for product" />
            <button>search</button>
        </div>
        <div class="suggested-result" *ngIf="searchResult">
            <li *ngFor="let item of searchResult">
                <a>{{item.name}}</a>
            </li>
        </div>
    </div>

    <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="/seller-auth">Seller</a></li>
            <li><a routerLink="/"></a>Home</li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Cart(0)</a></li>
        </ul>

        <ul *ngSwitchCase="'seller'">
            <li><a routerLink="/seller-auth">Product List</a></li>
            <li><a routerLink="/seller-add-product">Add Product</a></li>
            <li><a (click) = 'logout()'>Logout</a></li>
            <li><a href="#">{{sellerName}}</a></li>
        </ul>
    </div>
</nav>